body{
    background-color:#000;
    color:#fff;
    font-size:20px;
    font-family:Roboto Light,sans-serif;
    margin:0;
    padding:0;
    min-width:100vw;
    height:100vh
}

div.name {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

div.name h1 {
    font-weight: bold;
    color: #ffffff;
}

div.elements {
    text-align: center;
}

div.elements p {
    font-weight: bold;
    color: #ffffff;
    font-family: Roboto Light,sans-serif;
    font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  animation-name: p1;
  -webkit-animation-name: p1;
  -moz-animation-name: p1;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
}


li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
  animation: linkFade 2s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
        
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes linkFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes linkFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes linkFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes p1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes p1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes p1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
